<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Musical Memory Test</title>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/crunker.js"></script>
  </head>
  <body>
    <div id="instructionSpace">
        <div id="instructionTitle" style="font-size: 24px; font-weight: 900;">Instructions</div>
        <br>
        <div>
            This is a listening test where you will be asked generally to try to remember a melody. The questions will be formatted as follows:
            <br><br>
            First, you will be asked to listen to an audio file that plays a single melody repeated 4 times. The melody might be repeated on the same instrument each time, or on different instruments each time. 
            <br><br>
            You will then be asked to listen to a second audio file, which will play a single melody only once. You will then be asked whether the melody in the second audio file was the same as the melody in the first audio file. 
            <br><br>
            There will be 20 such questions. If you feel like you need to take a brief rest between questions, you may do so, but DO NOT CLOSE THE PAGE. 
            <br><br>
        </div>

        <span>Please enter your student ID number: <input type="text" id="studentId"> <br><br></span>

        <button id="instructionsButton" style="font-size: 20px; font-weight: 900;">Start Listening Test</button>
        <br>
        <span id="studentIdRequest"><br><br>Please enter your student ID before proceeding</span>
    </div>

    <div id="questionSpace">
        <div id="questionTitle" style="font-size: 24px; font-weight: 900;">Question 1</div>
        
        <br>

        <div id="targetMelodyInstruction" class="target">Hit play to start listening to the audio file - it will play a single melody 4 times</div>
        <br>
        <audio id="targetMelody" class="target" controls>
            <source type="audio/mp3">
        </audio>

        <br>

        <div id="queryMelodyInstruction" class="query">Hit play to start listening to the second audio file - it will play a single melody once</div>
        <br>
        <audio id="queryMelody" class="query" controls>
            <source type="audio/mp3">
        </audio>

        <br>

        <form id="questionForm" class="questionForm">
            <p>Did the melody in the second audio file match the melody in the first audio file?</p>
            <div>
                <input type="radio" id="matchChoice1" name="choice" value="yes">
                <label for="matchChoice1">Yes</label>

                <input type="radio" id="matchChoice2" name="choice" value="no">
                <label for="matchChoice2">No</label>

                <input type="radio" id="matchChoice3" name="choice" value="unsure">
                <label for="matchChoice3">Unsure</label>
            </div>
        </form>
        <div class="questionForm">
            <button id="choiceSubmit">Submit</button>
        </div>
    </div>

    <div id="finishedStatement">
        Thank you for taking our listening test! Your answers have been recorded.
    </div>

    <div id="errorStatement">
        There was an error submitting your response. Please email avneeshsarwate@gmail.com
    </div>




    <script id="formInteractionScript" type="text/javascript">
        var questionIndex = 0;
        var answers = [];
        var studentId = -1;
        // var questionSounds = [
        //     {target: "/static/cognitionListeningTestFiles/autograde1.mp3", query: "/static/cognitionListeningTestFiles/pytest.mp3"},
        //     {query: "/static/cognitionListeningTestFiles/autograde1.mp3", target: "/static/cognitionListeningTestFiles/pytest.mp3"},
        // ];

        jQuery.fn.visible = function() {
            return this.css('visibility', 'visible');
        };

        jQuery.fn.invisible = function() {
            return this.css('visibility', 'hidden');
        };

        $("#targetMelody").on('ended', function(evt){
            $(".target").invisible();
            $(".query").visible();
        });
        $("#queryMelody").on('ended', function(evt){
            $(".query").invisible();
            $(".questionForm").visible();
        });
        $("#choiceSubmit").on('click', function(evt){
            var $inputs = $('#questionForm :input');
            var choice;

            $inputs.each(function() {
                if(this.checked) choice = this.value;
            });

            answers[questionIndex] = choice;
            
            questionIndex++;
            if(questionIndex < questionSounds.length) {
                incrementQuestion(questionIndex);
            }
            else {
                submitData();
            }
        });

        $("#instructionsButton").on('click', function(evt){
            studentId = parseInt($("#studentId").val());
            if(studentId) {
                $("#instructionSpace").hide();
                $("#questionSpace").show();
            } else {
                $("#studentIdRequest").visible();
            }
        })

        function submitData(){
            var quizLog = JSON.stringify({'answers': answers, 'questions': JSON.parse(questionLog).questions, 'studentId': studentId, 'time': Date.now()});
            $.post("/cognitionTestResults/", {'quizResult': quizLog}, function(data){
                $("#questionSpace").hide();
                if(data == "success") $("#finishedStatement").show();
                else $("#errorStatement").show();
            });
        }

        function incrementQuestion(qIndex){
            $('#questionForm :input').prop("checked", false)
            $(".query").invisible();
            $(".questionForm").invisible();
            $("#questionTitle").html("Question " + (qIndex+1));
            $('.target').visible();
            $("#targetMelody").children()[0].src = questionSounds[qIndex].target;
            $("#targetMelody")[0].load();
            $("#queryMelody").children()[0].src = questionSounds[qIndex].query;
            $("#queryMelody")[0].load();
        }

        $("#questionSpace").hide();
        $("#finishedStatement").hide();
        $("#errorStatement").hide();
        $("#studentIdRequest").invisible();
        $(".target").invisible();
        $(".query").invisible();
        $(".questionForm").invisible();

    </script>
    <script id="audioProcessingScript" type="text/javascript">
        var arrayOf = n => Array.from(new Array(n), () => 0);
        var crunker = new Crunker();
        var questionSounds = [];
        var prefix = "/static/cognitionListeningTestFiles/";
        var questionLog = "";
        var questionPromises = [];

        $.get("/cognitionExperimentURLs", function(data){
            var allURLs = JSON.parse(data);
            var questionURLS = allURLs.questions;
            questionLog = data;
            spacerURLs = allURLs.spacers;
            questionSounds = arrayOf(questionURLS.length).map(e => ({}));

            questionURLS.forEach(function(questionEntry, ind){
                var t = questionEntry.targets;
                var s = spacerURLs;
                var mergeURLS = [t[0], s[0], t[1], s[1], t[2], s[2], t[3]].map(u => prefix+u);

                var targetPromise = crunker.fetchAudio(...mergeURLS)
                    .then(buffers => crunker.concatAudio(buffers))
                    .then(concat => crunker.export(concat, "audio/mp3"))
                    .then(function(exportedBuffer){
                        questionSounds[ind].target = exportedBuffer.url;
                    });

                var queryPromise = crunker.fetchAudio(prefix + questionEntry.query)
                    .then(buffers => crunker.concatAudio(buffers))
                    .then(concat => crunker.export(concat, "audio/mp3"))
                    .then(function(exportedBuffer){
                        questionSounds[ind].query = exportedBuffer.url;
                    });

                questionPromises.push(targetPromise);
                questionPromises.push(queryPromise);
            });
            Promise.all(questionPromises).then(function(){
                incrementQuestion(0) 
            });
        });
    </script>
  </body>
</html>