<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Musical Memory Test</title>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/crunker.js"></script>
  </head>
  <body>
    <!-- page content -->
    <div>
        <div id="questionTitle">Question 1</div>

        <div id="targetMelodyInstruction" class="target">Hit play to start listening to the audio file - it will play a single melody 4 times</div>
        <audio id="targetMelody" class="target" controls>
            <source type="audio/mp3">
        </audio>

        <div id="queryMelodyInstruction" class="query">Hit play to start listening to the second audio file - it will play a single melody once</div>
        <audio id="queryMelody" class="query" controls>
            <source type="audio/mp3">
        </audio>

        <form id="questionForm" class="questionForm">
            <p>Did the melody in the second audio file match the melody in the first audio file?</p>
            <div>
                <input type="radio" id="matchChoice1" name="choice" value="yes">
                <label for="matchChoice1">Yes</label>

                <input type="radio" id="matchChoice2" name="choice" value="no">
                <label for="matchChoice2">No</label>

                <input type="radio" id="matchChoice3" name="choice" value="unsure">
                <label for="matchChoice3">Unsure</label>
            </div>
        </form>
        <div class="questionForm">
            <button id="choiceSubmit">Submit</button>
        </div>

    </div>
    <script id="audioProcessingScript" type="text/javascript">
        var arrayOf = n => Array.from(new Array(n), () => 0);
        var crunker = new Crunker();
        var questionSounds = [];
        var prefix = "/static/cognitionListeningTestFiles/";
        var questionLog = "";

        $.get("/cognitionExperimentURLs", function(data){
            var allURLs = JSON.parse(data);
            var questionURLS = allURLs.questions;
            questionLog = data;
            spacerURLs = allURLs.spacers;
            questionSounds = arrayOf(questionURLS.length).map(e => ({}));
            questionURLS.forEach(function(questionEntry, ind){
                var t = questionEntry.targets;
                var s = spacerURLs;
                var mergeURLS = [t[0], s[0], t[1], s[1], t[2], s[2], t[3]].map(u => prefix+u);

                crunker.fetchAudio(...mergeURLS)
                    .then(buffers => crunker.concatAudio(buffers))
                    .then(concat => crunker.export(concat, "audio/mp3"))
                    .then(function(exportedBuffer){
                        questionSounds[ind].target = exportedBuffer.url;
                    });

                crunker.fetchAudio(prefix + questionEntry.query)
                    .then(buffers => crunker.concatAudio(buffers))
                    .then(concat => crunker.export(concat, "audio/mp3"))
                    .then(function(exportedBuffer){
                        questionSounds[ind].query = exportedBuffer.url;
                    });
            });
        });
    </script>

    <script id="formInteractionScript" type="text/javascript">
        var questionIndex = 0;
        var answers = [];
        // var questionSounds = [
        //     {target: "/static/cognitionListeningTestFiles/autograde1.mp3", query: "/static/cognitionListeningTestFiles/pytest.mp3"},
        //     {query: "/static/cognitionListeningTestFiles/autograde1.mp3", target: "/static/cognitionListeningTestFiles/pytest.mp3"},
        // ];

        jQuery.fn.visible = function() {
            return this.css('visibility', 'visible');
        };

        jQuery.fn.invisible = function() {
            return this.css('visibility', 'hidden');
        };

        $("#targetMelody").on('ended', function(evt){
            $(".target").invisible();
            $(".query").visible();
        });
        $("#queryMelody").on('ended', function(evt){
            $(".query").invisible();
            $(".questionForm").visible();
        });
        $("#choiceSubmit").on('click', function(evt){
            var $inputs = $('#questionForm :input');
            var choice;

            $inputs.each(function() {
                if(this.checked) choice = this.value;
            });

            answers[questionIndex] = choice;
            
            questionIndex++;
            if(questionIndex < questionSounds.length) {
                incrementQuestion(questionIndex);
            }
            else {
                submitData();
            }
        });

        function submitData(){
            var quizLog = JSON.stringify({'answers': answers, 'questions': JSON.parse(questionLog).questions});
            $.post("/cognitionTestResults/", quizLog);
        }

        function incrementQuestion(qIndex){
            $('#questionForm :input').prop("checked", false)
            $(".query").invisible();
            $(".questionForm").invisible();
            $("#questionTitle").html("Question " + (qIndex+1));
            $('.target').visible();
            $("#targetMelody").children()[0].src = questionSounds[qIndex].target;
            $("#targetMelody")[0].load();
            $("#queryMelody").children()[0].src = questionSounds[qIndex].query;
            $("#queryMelody")[0].load();
        }

        incrementQuestion(0);
    </script>
    <script id="audioProcessingScript" type="text/javascript">
        
    </script>
  </body>
</html>