<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Musical Memory Test</title>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/crunker.js"></script>
  </head>
  <body>
    <!-- page content -->
    <div>
        <div id="questionTitle">Question 1</div>

        <div id="targetMelodyInstruction" class="target">Hit play to start listening to the audio file - it will play a single melody 4 times</div>
        <audio id="targetMelody" class="target" controls>
            <source type="audio/mp3">
        </audio>

        <div id="queryMelodyInstruction" class="query">Hit play to start listening to the second audio file - it will play a single melody once</div>
        <audio id="queryMelody" class="query" controls>
            <source type="audio/mp3">
        </audio>

        <form id="questionForm" class="questionForm">
            <p>Please select your preferred contact method:</p>
            <div>
                <input type="radio" id="matchChoice1" name="choice" value="yes">
                <label for="matchChoice1">Yes</label>

                <input type="radio" id="matchChoice2" name="choice" value="no">
                <label for="matchChoice2">No</label>

                <input type="radio" id="matchChoice3" name="choice" value="unsure">
                <label for="matchChoice3">Unsure</label>
            </div>
        </form>
        <div class="questionForm">
            <button id="choiceSubmit">Submit</button>
        </div>

    </div>
    <script type="text/javascript">
        var questionIndex = 0;
        var answers = {};
        var questionSounds = [
            {target: "/static/cognitionListeningTestFiles/autograde1.mp3", query: "/static/cognitionListeningTestFiles/pytest.mp3"},
            {query: "/static/cognitionListeningTestFiles/autograde1.mp3", target: "/static/cognitionListeningTestFiles/pytest.mp3"},
        ];

        $("#targetMelody").on('ended', function(evt){
            $(".target").hide();
            $(".query").show();
        });
        $("#queryMelody").on('ended', function(evt){
            $(".query").hide();
            $(".questionForm").show();
        });
        $("#choiceSubmit").on('click', function(evt){
            var $inputs = $('#questionForm :input');
            var choice;

            $inputs.each(function() {
                if(this.checked) choice = this.value;
            });

            answers[questionIndex] = choice;
            
            questionIndex++;
            incrementQuestion(questionIndex)
        });

        function incrementQuestion(qIndex){
            $('#questionForm :input').prop("checked", false)
            $(".query").hide();
            $(".questionForm").hide();
            $("#questionTitle").html("Question " + (qIndex+1));
            $('.target').show();
            $("#targetMelody").children()[0].src = questionSounds[qIndex].target;
            $("#targetMelody")[0].load();
            $("#queryMelody").children()[0].src = questionSounds[qIndex].query;
            $("#queryMelody")[0].load();
        }

        incrementQuestion(0);
    </script>
  </body>
</html>