<!DOCTYPE html>
<html>
<head>
    <link rel='shortcut icon' type='image/x-icon' href='/static/favicon.ico' />
    <title>
        Avneesh Sarwate
    </title>
    <link rel='stylesheet' type='text/css' href='/static/newsite/tufte.css'>
    <link rel='stylesheet' type='text/css' href='/static/newsite/iframe_resize.css'>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/newsite/node_modules/marked/marked.min.js"></script>
    <script type="text/javascript" src="/static/newsite/subpage.js"></script>
</head>
<body>
<article>
    <section id="renderedMarkdown">     
    </section>
</article>
<div id="rawMarkdown"></div>

</body>
</html>