<!DOCTYPE html>
<html>
  <head>
    <script src="/static/twitterPoetry/p5.js"></script>
    <script src="/static/twitterPoetry/p5.dom.js"></script>
    <script src="/static/twitterPoetry/rita-full.js"></script>
    <script src="/static/twitterPoetry/codebird.js"></script>
    <script type="text/javascript" src="/static/twitterPoetry/jquery-3.2.1.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
    <script src="/static/twitterPoetry/lodash.js"></script>
    <script src="/static/twitterPoetry/twitterPoetry.js"></script>
    <style> body {padding: 0; margin: 0;} </style>
  </head>
  <body>    
  </body>
</html>
